*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "AllerDisplay";
}

body {
  background-color: #3b4263;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "AllerDisplay";
  src: url("../fonts/AllerDisplay.ttf");
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem;
  width: 80rem;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 40%;
    left: 80%;
    rotate: 45deg;
    display: block;
    width: 1200px;
    height: 1200px;
    background: #4d71fa;
    content: "";
    z-index: -1;
  }
}

.game_result {
  z-index: 2;

  height: 100%;
  // min-height: 600px;
  display: flex;
  margin-top: 4rem;
  overflow: hidden;

  &__hangman {
    width: 50%;
    height: 100%;
    position: relative;
    scale: 0.75;
    top: calc(-12.5%);
    left: calc(-12.5%);

    & img {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 20rem;
    }

    &__bar {
      left: -5.2rem !important;
      transform: translate(0%, 0%) !important;
    }
    &__head {
      top: 10rem;
      z-index: 10;
    }
    &__neck {
      top: 17rem;
      z-index: 0;
    }
    &__corpus {
      top: 23rem;
      z-index: 10;
    }

    &__left-arm {
      top: 21.6rem;
      transform: translate(-50%, -50%) translateX(-4.5rem) !important;
      z-index: 2;
    }

    &__right-arm {
      top: 21.6rem;
      transform: translate(-50%, -50%) translateX(4.5rem) !important;

      z-index: 2;
    }
    &__hand {
      top: 23.8rem;
      transform: translateX(-8.8rem) !important;
      z-index: 1;

      &--right {
        z-index: 1;
        transform: translateX(calc(8.8rem - 100%)) !important;
      }
    }

    &__leg {
      z-index: 2;
      top: 25rem;
      transform: translateX(-5.1rem) !important;
      &--right {
        transform: scaleX(-1) !important;
      }
    }

    &__foot {
      top: 35rem;
      z-index: 1;
      transform: translateX(-7.5rem) !important;
      &--right {
        transform: scaleX(-1) translateX(calc(-7.5rem + 100%)) !important;
      }
    }
  }

  &__missed {
    width: 50%;
    // display: flex;

    &__letters {
      height: 100px;
      width: 50px;
      display: flex;

      & > p {
        padding: 0.4rem;
        color: #4d71fa;
        font-size: 4rem;
        text-transform: uppercase;
      }
    }

    & > p {
      text-transform: uppercase;
      color: #53555d;
      font-size: 2rem;
    }
  }
}

.letters_container {
  z-index: 1;
  // height: 100%;
  // width: 100%;
  padding-top: 2rem;
  margin: 0rem 3rem 4rem 3rem;

  display: flex;
  justify-content: space-between;

  &__letter {
    display: flex;
    height: 6.2rem;
    width: 6.2rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    background-color: rgba(230, 230, 231, 0.9);
    border-radius: 10px;

    &--avalible {
      background-color: #53555d;
    }
  }
}

.game_over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 5rem;
  color: #fff;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);

  & button {
    font-size: 2rem;
    margin: 0;
    color: orange;
    padding: 2rem 4rem;
    background: none;
    border: 0.25rem orange dashed;
    border-radius: 3rem;
    cursor: pointer;
  }
}
